
<div class="mt-2 text-2xl">Solicitudes de venta</div>
<div class="flex flex-col">
    <% solicitudesCompra.forEach(element => { %>
        <div class="shadow-md px-3 py-2  my-2 w-full ">
            <div class = "flex justify-between">
                <h1 class="text-xl font-bold w-full text-center">
                    Producto: <%= element.Product.name %> 
                </h1>
                
                <h1 class="text-xl font-bold w-full text-center">
                    Cantidad: <%= element.cantidad %> 
                </h1>
            </div>

            <div class="flex justify-center">
                <h1 class="text-xl">
                    Solicitud creada en <%=  element.createdAt %> 
                </h1>
                
            </div>

            
            
            
            
            
        </div>
    <% }) %>
</div>
<div class="mt-2 text-2xl">Solicitudes de venta</div>
<div class="flex flex-col">
    <% solicitudesVenta.forEach(element => { %>
        <div class="shadow-md px-3 py-2  my-2 w-full ">

            <div class = "flex justify-between">
                <h1 class="text-xl font-bold w-full text-center">
                    Producto: <%= element.Product.name %> 
                </h1>
                
                <h1 class="text-xl font-bold w-full text-center">
                    Cantidad: <%= element.cantidad %> 
                </h1>
            </div>

            <div class="flex justify-center">
                <h1 class="text-xl">
                    Solicitud creada en <%=  element.createdAt.toLocaleString('en-US') %> 
                </h1>
                
            </div>
            
            
            
        </div>
    <% }) %>
</div>